{% extends 'client/base.html' %}

{% load static %}
{% block title %}About Us{% endblock %}
{% block header %}
<img src="{% static 'images/logo.png' %}" alt="Logo"
          />
{% endblock %}
{% block body %}
    <section id="banner">
        <div class="container">
            <div class="mainHeading">
                <h2>ABOUT US</h2>
                <div class="secondoryHeading">
                    <h2>About <span>Us</span></h2>
                    <div class="heroUnderLine"></div>
                </div>
            </div>
        </div>
    </section>
    <section id="whoWeAre">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-12">
                    <img style="width: 100%; height:455px" src="{% if landing_page.about_us_landing %}{{landing_page.about_us_landing.url}}{% else %}{% static 'images/aboutusgirl.jpg' %}{% endif %}">
                </div>
                <div class="col-sm-6 col-12 whoRightSide" style="overflow-wrap: break-word;">
                    <h2>{{landing_page.main_heading}}</h2>
                    <h3>{{landing_page.sub_heading}}</h3>
                    <P>{{landing_page.about_us_text}}</P>
                </div>
            </div>
<!--            <div class="whoLeftSide">-->
<!--            </div>-->
<!--            <div class="whoRightSide">-->
<!--            </div>-->
        </div>
    </section>
    <section id="ambassadors">
        <div class="container">
            <h2>Fitstar collaborators</h2>
            <div class="things" id="wrapper">
<!--                {% for obj in collaborators %}-->
<!--                <div class="items">-->
<!--                    <img src="{{obj.profile_image.url}}" style="height: 300px;">-->
<!--                </div>-->
<!--                {% endfor %}-->

                {% for obj in collaborators %}

                <div class="items">
                <div class="ad_card" style="background-image: url('{{obj.profile_image.url}}');">
                    <div class="ads_card_banner poppins"  style="height: 90px">
                        <h3 style="color: #ffffff;font-family: 'Poppins';font-size: 22px;margin-top: 8px">{{obj.title}}</h3>
                        <p style="color: #ffffff;font-family: 'Poppins';font-size: 12px;"  class="mb-0">{{obj.sub_title}}</p>
                        <div>
                            {% if obj.facebook %}
                            <a href="{{obj.facebook}}" target="_blank"><i class="fa fa-facebook" style="padding: 8px 12px;color: #ffffff"></i></a>
                            {% endif %}

                            {% if obj.twitter %}
                            <a href="{{obj.twitter}}" target="_blank"><i class="fa fa-twitter" style="padding: 8px 12px;color: #ffffff"></i></a>
                            {% endif %}

                            {% if obj.instagram %}
                            <a href="{{obj.instagram}}" target="_blank"><i class="fa fa-instagram" style="padding: 8px 12px;color: #ffffff"></i></a>
                            {% endif %}
                            {% if obj.youtube %}
                            <a href="{{obj.youtube}}" target="_blank"><i class="fa fa-youtube" style="padding: 8px 12px;color: #ffffff"></i></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
                {% endfor %}

            </div>
        </div>
    </section>


<style>
    @media only screen and (max-width: 600px) {
        .slick-list{
            padding: 0px !important;
        }
        .slick-next{
            right: 10px!important;
        }
        .slick-prev{
            left: 5px!important;
        }
    }

    .ad_card{
        width: 100%;
        height: 340px;
        margin: 40px auto;
        position: relative;
        background-image: url(../../../static/images/main.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 10px;
    }
    .ads_card_banner{
        position: absolute;
        width: 100%;
        height: 70px;
        border-radius: 0 0 8px 8px;
        bottom: 0;
        left: 0;
        background-color: #FF1A1A;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 10px;
        color: white;
    }
    .items:focus{
        outline: none;
    }
    .mobile-pading-12{
        padding-top: 12px!important;
    }
</style>


{% endblock %}

{% block js %}
  <script type="text/javascript">
        var x = window.matchMedia("(max-width: 700px)")
        myFunction(x)
        x.addListener(myFunction)

        function myFunction(x) {
          if (x.matches) { // If media query matches
            $( document ).ready(function() {
            $('.things').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                autoplay: false,
                arrows: true,
                centerMode: false,
            });
            $('.autoplay').slick({
              slidesToShow: 2,
              slidesToScroll: 1,
              autoplay: true,
              autoplaySpeed: 2000,
              arrows: false,
            });
        });
          } else {
            $( document ).ready(function() {
                $('.things').slick({
                slidesToShow: 3,
                slidesToScroll: 1,
                autoplay: false,
                arrows: true,
                centerMode: true,
                });
                $('.autoplay').slick({
                  slidesToShow: 5,
                  slidesToScroll: 1,
                  autoplay: true,
                  autoplaySpeed: 2000,
                  arrows: false,
                });
            });
          }
        }
    </script>
{% endblock %}
