{% extends 'client/accounts/form_base.html' %}

{% load static %}

{% block title %}Forgot Password{% endblock title %}

{% block css %}

<style>
		.input-group{
			margin-top: 25px;
		}

        #top_error_span{
            top: 0; position: fixed;width: 100%; background-color: red; color:white; text-align: center;
            font-size: 20px;
        }


</style>
{% endblock css %}

{% block body %}
{% if message != '' %}
    <span id="top_error_span">{{message}}</span>
{% endif %}
<section id="">
    <div class="container1">
        <div class="side-image">
            <img src="{% static 'images/accounts/lady-img.png' %}" alt="Girl doing exercise">
        </div>
        <div class="form">
            <a href="/"><img src="{% static 'images/accounts/logo.png' %}" alt="Fitstar Pro Logo"></a>
            <h1>Forgot Password</h1>
            <form action='/confirm_email' method="POST">
                {% csrf_token %}

                <div class="input-field">
                    <input type="text" placeholder="Email" name="email" required>
                </div>
                <button class="btnNext">Confirm Email</button>
            </form>
        </div>
    </div>
</section>

{% endblock body %}
