{% extends 'client/accounts/form_base.html' %}

{% load static %}

{% block title %}Email Send{% endblock title %}

{% block css %}

<style>
		.input-group{
			margin-top: 25px;
		}


</style>
{% endblock css %}

{% block body %}
<section id="">
    <div class="container1">
        <div class="side-image">
            <img src="{% static 'images/accounts/lady-img.png' %}" alt="Girl doing exercise">
        </div>
        <div class="form">
            <a href="/"><img src="{% static 'images/accounts/logo.png' %}" alt="Fitstar Pro Logo"></a>
            <h3>Account password has been updated!</h3>
        </div>
    </div>
</section>

{% endblock body %}
