{% extends 'client/accounts/form_base.html' %}

{% load static %}

{% block title %}Sign In{% endblock title %}

{% block css %}

<style>
		.input-group{
			margin-top: 25px;
		}

		.errors {
		    margin-top: 20px;
		    color: red;
		}





</style>
{% endblock css %}

{% block body %}
{% if messages %}
<div class="msg-box">
    {% for msg in messages %}
    <div class="msg {{ msg.tags }}">
        <p>{{ msg }}</p>

    </div>
    {% endfor %}
</div>
{% endif %}
<section id="">
    <div class="container1">
        <div class="side-image">
            <img src="{% static 'images/accounts/lady-img.png' %}" alt="Girl doing exercise">
        </div>
        <div class="form">
            <a href="/"><img src="{% static 'images/accounts/logo.png' %}" alt="Fitstar Pro Logo"></a>
            <h1>Reset Password</h1>
            <form method="POST">
                {% csrf_token %}
                {% csrf_token %}

                <div class="input-field">
                    <input type="password" placeholder="Password" name="new_password1" required>
                </div>
                <div class="input-field">
                    <input type="password" placeholder="Confirm Password" name="new_password2">
                </div>


        {% if form.errors %}
        <div class="errors">
            {% for field in form %}
            {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
        </div>
        {% endif %}
                <button class="btnNext" type="submit">Reset Password</button>
            </form>
        </div>

    </div>
</section>

{% endblock body %}
